<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseInitializerForType Brambillator.Infrastructure.Tests.Repositories.EfSellUnitOfWork, SellDataLayer"
        value="System.Data.Entity.DropCreateDatabaseAlways`1[[DatabaseInitializerForType Brambillator.Infrastructure.Tests.Repositories.EfSellUnitOfWork, SellDataLayer]], EntityFramework" />
  </appSettings>
</configuration>